@{
    ViewBag.Title = "About Us";
}

<h2>I do regular post redirect get and i post back to the Index(Grid)</h2>
<p>Just click the submit button, and then return here and submit again</p> 
@using (Html.BeginForm()){
@Html.Label("someData", "enter some data:") @:&nbsp; @Html.TextBox("someData")
<input type="submit" value="Submit" />
}

